main h2{
    text-align: center;
    color: #244b82;
}
header{
    background: #fff;
    height: 0;
    padding: 0;
    margin-bottom: 6em;
}

#menu-bar{
    background-color: #fdfffc;
    width: 100%;
    color: #353535;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.categorias-container h4{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 1em;
    border-bottom: 4px solid #353535;
}

.carousel-container{
    width: 96dvw;
    max-width: 800px;
    margin: 0 auto;
    background:none;
    box-shadow: none;
    overflow: hidden;
}

.carousel-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #fdfffc;
    background-color: #244b82;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); 
    border-radius: 30px;
    margin: 0 1em;
}

.carousel-box img{
    max-width: 200px;
    align-self: center;
    border-radius: 30px;
    display: none;
}

.otros-container{
    margin: 4em 0;
    display: flex;
    flex-direction: column;

}
.otros-container span{
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
}

.activado{
    border-bottom: 2px solid #3877ce;
}
.otros-container ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.sitios-container{
    display: grid;
    width: 90dvw;
    margin: 0 auto;
    grid-template-columns: 1fr;
}

.sitio-box{
    display: flex;
    flex-direction: column;
    background-color: #fdfffc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin-bottom: 1em;
    align-items: center;
    border-radius: 5px;
}

.sitio-box img{
    width: 100%;
    max-height: 55%;
    border-radius: 5px 5px 0px 0;
}

.sitio-box div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sitio-box div button{
    background-color: #244b82;
    color: #fdfffc;
    border-radius: 5px;
    width: 50%;
    margin: 1em;
}


@media (min-width:640px) and (max-width:960px) {
    .sitios-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
@media (min-width:960px) and (max-width:1280px) {
    .sitios-container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }  
}

@media (min-width:1280px) {
    .sitios-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }  
}