@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
/* General Styles */
body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
h2{
    font-family: "Playwrite GB S", cursive;
    font-size: 3em;
}

/* Header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),url("../img/Panama-city-skyline-header.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    color: #f8f9fa;
    padding: 1em;
    height: 100dvh;
    background-attachment: fixed; /* Hace que el fondo se mueva a velocidad diferente */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out; 
}

#menu-bar h1{
    margin-left: 1em;
}

h1 {
    font-size: 1.5em;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 1em;
}

/* Menú desplegable*/
.mobile-menu {
    display: none;
    background-color: #f8f9fa;
    position: absolute;
    top: 90px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); 
}

.mobile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-menu li a {
    display: block;
    padding: 1em;
    color: #353535;
    text-decoration: none;
}

.mobile-menu li a:hover {
    background-color: #284B63;
    color: #f8f9fa;
    font-weight: bold;
}

.fixed{
    position: fixed;        
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); 
    background-color: #fdfffc;
    width: 100%;
    color: #353535;
    text-shadow: none;
    justify-content: space-around;
}

/* Sección de contenido */
.content {
    padding: 2em;
    max-width: 70dvw;
}

.content h2{
    font-size: 2.5em;
    font-weight: 700;
    color: #4ba2e6;
}
.content p{
    font-size: 1.2em;
    margin-bottom: 2em;
}

.content a{
    text-decoration: none;
    color: #353535;
    background-color: #f8f9fa;
    padding: 1em;
    border-radius: .5em;
    text-shadow: none;
    font-weight: 700;
    margin-top: 1rem;
}

.info1{
  margin-bottom: 2em;
  text-align: center
}

.info1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    max-width: 90dvw;
    margin: 0 auto;
}
.info1 div h2{
    color: #353535;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: .5em;
    border-bottom: 10px solid #244b82;
}

.info1 div p{
    font-size: 1.2rem;
}

.info1 img{
    width: 100%;
    max-width: 821px;
    max-height: 548px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-self: center;
}

.infoProvincias{
    text-align: center;
    margin: 3em auto;
}

.infoProvincias h2{
    width: 85%;
    margin: 1em auto;
    border-bottom: 5px solid #244b82;
    padding-bottom: 20px;
    color: #353535;
}

.infoProvincias p{
    font-size: 1.2rem;
    margin: 0 2em;

}

/* Estilos del contenedor */
.carousel-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Estilos del carrusel */
.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

/* Estilos de cada imagen del carrusel */
.carousel img {
    width: 90%;
    flex-shrink: 0
}

/* Controles del carrusel */
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.infoProvincias h3{
    font-weight: 800;
    color: #353535;
    font-size: 1.5em;
    background-color: #a2d6ff;
    padding: 1em;
    border-radius: 5px;
}

.infoSeparador{
    background-color: #244b82;
    text-align: center;
    color: #f8f9fa;
    padding: 1em;
}

.infoSeparador ul{
    padding-inline-start: 0%;
    list-style: none;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 30px;
    justify-items: center;
    margin: 0 auto;
    padding-bottom: 2rem;
}


.infoSeparador ul li{
    width: 100%;
    color: #fbf1de;
    padding: 5px;
    font-weight: bold;
    border-radius: .7rem;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoSeparador ul li img{
    width: 80%;
    max-width: 200px;
    padding:10px;
    background-color: #a2d6ff;
    border-radius: 10px;
    margin-bottom: 1em;
}


.infoLugares{
    text-align: center;
}

.infoLugares h2{
    width: 85%;
    margin: 1em auto;
    border-bottom: 5px solid #244b82;
    padding-bottom: 20px;
}

.infoLugares div{
    display: grid;
    grid-template-columns: 50dvw 1fr;
    grid-template-rows: 30dvh 30dvh;
    color: #fdfffc;
    font-weight: bold;
    text-align: center;
}

.infoLugares div div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    background-position: center;
}
#op1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),url(../img/museoCatolico.jpg);
}
#op2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url(../img/museoMolas.jpg);
}
#op3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url(../img/plazaFrancia.jpg);
}
#op4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url(../img/summit.JPG);
}

.opiniones{
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #353535;
    background-color: white; /* Fondo oscuro semi-transparente */
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    font-size: .9em;
    width: 90%;
}

/* Mostrar el texto al hacer hover */
.opiniones:hover .overlay-text {
    opacity: 1;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    color: #fdfffc;
    padding: 20px;
    margin-top: 3em;
    text-align: center;
}

footer img{
    margin: 0 auto;
    max-width: 200px;
}
footer ul{
    list-style: none;
}

footer .redes h2{
    font-size: 2em;
}
footer .redes img{
    width: 40px;
    height: 40px;
    margin-bottom: 2em;
}


@media (min-width:960px) {
    .info1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5em 2em;
        align-items: center;
        gap: 1em;
    }

    .info1 h2{
        margin: 0;
    }

    .infoLugares h2{
        border-bottom: 5px solid #244b82;
        border-radius: 5px;
        width: 70%;
        margin: 1em auto;
        padding: 0px 65px 16px 65px;
    }
}