@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* General Styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),url("../img/Panama-city-skyline-header.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    color: #f8f9fa;
    padding: 1em;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.5em;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
}

/* Menú desplegable*/
.mobile-menu {
    display: none;
    background-color: #f8f9fa;
    position: absolute;
    top: 90px;
    width: 100%;
    text-align: center;
}

.mobile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-menu li a {
    display: block;
    padding: 1em;
    color: #353535;
    text-decoration: none;
}

.mobile-menu li a:hover {
    background-color: #284B63;
    color: #f8f9fa;
}

/* Sección de contenido */
.content {
    padding: 2em;
    max-width: 70dvw;
}

.content h2{
    font-size: 2.5em;
    font-weight: 700;
    color: #ecf39e;
}
.content p{
    font-size: 1.2em;
    margin-bottom: 2em;
}

.content a{
    text-decoration: none;
    color: #353535;
    background-color: #f8f9fa;
    padding: 1em;
    border-radius: .5em;
    text-shadow: none;
    font-weight: 700;
    margin-top: 1rem;
}

/* Mostrar menú en dispositivos móviles */
@media (max-width: 768px) {
.menu-icon {
    display: block;
}
.mobile-menu {
    display: none; /* Se mostrará mediante JavaScript */
}
}